@import url(https://fonts.googleapis.com/css?family=Roboto);

#pre-screen {
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;

  color: #eee;
  text-align: center;
  padding: 20px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#output {
  width: 750px;
  padding: 20px;
  text-align: left;
  white-space: pre;
}

.trait {
  width: 250px;
  height: 30px;

  border: 1px dashed rgba(0,0,0,0.2);
}

.trait img {
  float:left;
  margin: 3px;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.trait #trait_name {
  float:left;
  margin:3px;
  width: auto;
  max-width: 184px;
  text-overflow: clip;
  display: inline-block;
}

.trait #trait_cost {
  float:right;
  margin: 3px 6px;
  width: 14px;
  display: inline-block;
  text-align: right;
}